// Specific CSS for your home-page
.home {
  width: 400px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.question {
  margin: auto;
  font-size: 140px;
  text-align: center;
  margin-top: 20px;
}
